# Dependencias
node_modules/
package-lock.json
yarn.lock

# Construcción
/dist
/build
.vite

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.idea/
*.iml
.vscode/
*.swp
*.swo

# Archivos temporales
ajcar25-web.zip